@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 1.5px;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main: #002648;
    --sub-main: #003864;
    --yellow: #FFB000;
    --black: #000;
    --white: #fff;
    --gray: #E5E5E5
}
button,input,select{
    border: 0;
    cursor: pointer;
}
button:focus,input:focus,select:focus{
    outline: none;
}
a{
    color: skyblue;
    text-decoration: none;
}
a:hover{
    color: unset;
    text-decoration: none;
}
ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}
h2,h3,h4,h5{
    letter-spacing: 1px;
    font-weight: 700 !important;
}
h1{
    font-size: 3rem !important;
    color: var(--white);
    font-weight: 700 !important;
    line-height: 4.4rem;
}
h1 span{
    color: var(--yellow);
}
h2{
    color: var(--black);
    font-size: 2rem !important;
    text-transform: uppercase;
}
h3{
    font-size: .8rem !important;
}
h4{
    font-size: 1rem !important;
    color: var(--black);
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

hr{
    border: 3px solid #FFB000;
    width: 150px;
    margin: 1rem 0;
}
.container{
    max-width: 1400px;
}
.header{
    padding-top: 200px;
    padding-bottom: 200px;
}
.header .intro-text .intro-lead-in{
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    color: antiquewhite;
}
.header .intro-text .intro-heading{
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    color: antiquewhite;
}
.header .btn-x1{
    padding: 20px 40px;
    border-color: #44bfec;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #44bfec;
}
.fdb-block{
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}
.flex-colo{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/* Hero */
.hero{
    background-image: url(/imgs/hero/last.jpg);
    object-fit: cover;
}

/* Initially, the navbar will have transparent background and fixed position */
.navbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: auto;
    transition: background-color 0.4s ease-in-out; /* Adding transition for a smoother change */
    border-radius: 6px;
}
.navbar-black {
    background-color: #002648 !important;
}
.transparent-navbar {
    background-color: transparent;
    /* Additional styling for transparent navbar */
}

.container.position-relative {
    padding-left: 0;
    padding-right: 0;
}

/* Adding a class to change background color */
.navbar.navbar-scroll {
    background-color: #222; /* Change this to the desired gray color */
}

.nav-item-highlight {
    background-color: skyblue;
}
.navbar .navbar-brand p{
    color: #44bfec;
    font-weight: 600;
    font-size: large;
}

nav ul li a{
    color: var(--white) !important;
    padding: 0 1.2rem !important;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: var(--yellow) !important;
    transition: ease-in-out 1s;
}
nav button i{
    color: var(--white);
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
}
nav{
    background-color: unset;
}
.img-fluid{
    width: 100%;
    object-fit: contain;
}
.hero-small{
    color: var(--gray);
}
.hero-small button{
    width: 30%;    
    padding: 1rem 0;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 600;
}
/* Header small device */
.small-device{
    background-color: var(--white);
    position: absolute;
    z-index: 1000;
    left: 15px;
    right: 15px;
    font-weight: 600;
    padding: 1rem .5rem;
    font-size: .9rem;
    text-transform: uppercase;
    display: none;

}


.row {
    margin-right: -15px;
    margin-left: -15px;
}
.text-center {
    text-align: center;
}

/* ABOUT SECTION */
.about{
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;    
}
.about h2.section-heading {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 40px;
}
.about-content{
    justify-content: center; 
}
.about h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
.team-member {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.team-member img {
    border: 7px solid #fff;
    height: 50%;
    width: 25%;
    margin: 0 auto;
}

.about-details {
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}
img{
    vertical-align: middle;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.text-center {
    text-align: center;
    justify-content: center;
}
.paragraph{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* INTERESTS SECTION*/

.interests {
    margin-top: 20px;
    padding: 100px 0;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    
}

.interests .int-details {
    margin-bottom: 20px;
    justify-content: center;
    height: 350px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 6px;

}

.interests button {
    padding: .5rem 2.5rem;
    background-color: var(--yellow);
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.interests .int-details img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: block;
    
}

/* ROLES SECTION */
.whatIdo{
    padding: 5rem 0;
    background-color: var(--main);
}
.whatido-box{
    padding: 2rem 3rem;
    color: var(--gray);
    background-color: var(--sub-main);
    font-size: .7rem;
    box-shadow: inset 3px 3px 20px 1px #002648;
}
.whatido-box i{
    margin: 2rem;
    font-size: 2.5rem;
    color: var(--white);
}
.whatido-box h3{
    color: var(--yellow);
}

/* CONTACT SECTION */

.contact {
    margin-top: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
.contact .container {
    padding-top: 10px;
}



/* FOOTER SECTION */
footer{
    background-color: var(--main);
    color: var(--white);
    padding: 1rem 0 !important;
    font-weight: 500;
    font-size: .8rem;
}
footer img{
    width: 400px;
    height: 35px;
    object-fit: contain;
}
footer a{
    padding: .5rem .6rem;
    border: 1px solid #FFB000;
    border-radius: 100PX;
    color: var(--yellow);
}
footer a:hover{
    background-color: var(--yellow);
    color: var(--white);
    transition: ease-in-out .5s;
}

